<h2>List of ratings</h2>

<p> Number of ratings
  <%= @ratings.count %>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Beer Score</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do | rating| %>
      <tr>
        <% user = User.find(rating.user_id) %>
        <td> <%= rating.to_s %></td> 
        <td><%= link_to user.username, user %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%#= link_to 'New rating', new_rating_path %>
