<p id="notice"><%= notice %></p>

<h2>Styles</h2>

<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th> Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style %></td>
        <td><%= edit_and_destroy_buttons(style) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to('New Style', new_style_path, class:"btn-sm btn-primary") if current_user %>
