<h1>Editing Beer</h1>

<%= render 'form' %>

<br />

<%= link_to 'Delete', @beer, method: :delete, data: {confirm:'Are you sure?'}, class:"btn-sm btn-danger" if current_user.admin %>

<%= link_to 'Back', @beer, class:"btn-sm btn-primary" %>
